* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell,
    'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
  background-color: rgb(233, 230, 215);
}

#search-box {
  font: inherit;
  padding: 8px;
  max-width: 320px;
  margin-bottom: 16px;
}
li {
  list-style: none;
}
.country {
  display: flex;
}
.icon {
  align-self: center;
  margin-right: 10px;
}
.input {
  padding: 10px;
  font-size: 30px;
  border: 10px solid rgba(255, 255, 255, 0.5);
  box-shadow: (0 2px 10px rgba(0, 0, 0, 0.25) inset, 0 2px 10px rgba(0, 0, 0, 0.25));
  border-radius: (10px);
  background: rgba(255, 255, 255, 0.5);
  appearance: (none);
  outline: none;
  color: #333;
  width: 50%;
  /* position: absolute; */
  left: 25%;
  margin-left: 40px;
  margin-top: 20px;
}
